
img.label_thumb{
    width: 120px;
    height: 120px;
    object-fit: cover;   /*讓圖片可以center crop於上面的長寬當中*/
    padding: 2px;   /*圖片的留邊*/
    border: 2px;       /*圖片的邊框*/
    border-radius: 10%;

	//display: inline-block;
//    float:left;
vertical-align: middle;
}

.label_with_thumbs {
    text-align: left;
    /* font: normal 18px Port Lligat Slab; */
//    float: left;
    //width: 100%;
    //min-height: 70px;
    margin: 0px 2px 2px 0px;
    padding: 0;
}

.label_with_thumbs li{
    padding:2px;
    //min-height:75px;
    margin-left:4px;
    margin-bottom:4px;
    //border: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    width: 120px;

    list-style: none ;
	display: inline-block;
//	display: block;
    padding-left:0px !important;
}

.label_with_thumbs li strong {
//    display:none;
//    list-style: none ;
	display: table-cell;
}


.label_with_thumbs a:visited {
    text-decoration: none;
//    color: black;
}

.label_with_thumbs a:link {
    text-decoration: none;
//    color: black;
}

.label_with_thumbs a { text-transform: none;}
.label_with_thumbs a:hover { text-decoration: underline;}
.label_with_thumbs strong {padding-left:0px; }


.tooltip:hover {
    border: 1px solid #f80;
}

